---
http_interactions:
- request:
    method: get
    uri: http://www.thetvdb.com/api/A4EF663990171DE4/mirrors.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Wed, 19 Dec 2012 21:10:02 GMT
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<Mirrors>\n  <Mirror>\n
        \   <id>1</id>\n    <mirrorpath>http://thetvdb.com</mirrorpath>\n    <typemask>7</typemask>\n
        \ </Mirror>\n</Mirrors>\n"
  recorded_at: Wed, 19 Dec 2012 21:12:57 GMT
- request:
    method: get
    uri: http://www.thetvdb.com/api//GetSeries.php?seriesname=Game%20of%20Thrones
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8" ?>

        <Data>

        <Series>

        <seriesid>121361</seriesid>

        <language>en</language>

        <SeriesName>Game of Thrones</SeriesName>

        <banner>graphical/121361-g26.jpg</banner>

        <Overview>Based on the fantasy novel series "A Song of Ice and Fire," Game
        of Thrones explores the story of an epic battle among seven kingdoms and two
        ruling families in the only game that matters - the Game of Thrones. All seek
        control of the Iron Throne, the possession of which ensures survival through
        the 40-year winter to come.</Overview>

        <FirstAired>2011-04-17</FirstAired>

        <IMDB_ID>tt0944947</IMDB_ID>

        <zap2it_id>SH01389809</zap2it_id>

        <id>121361</id>

        </Series>

        </Data>'
  recorded_at: Wed, 19 Dec 2012 21:20:39 GMT
recorded_with: VCR 2.3.0
